body {
  background-color: rgb(212, 211, 211);  
  
}

.answer-box {
  padding: 0;
  margin: 0;
  white-space: pre;
  overflow: auto;

}

.top-text {
  display: flex;
  justify-content: center;

}

.description {
  display: flex;
  justify-content: center;
  font-size: 17px;
  margin-top: inherit;
  margin-bottom: initial;

}

.question {
  background-color: rgb(163, 171, 187);
  padding: 20px;
  white-space: pre-line;
  border-color: rgba(148, 158, 158, 0.952);
  border-width: 2px;
  border-style: solid;

}

.answer {
  background-color: rgba(177, 191, 219, 0.603);
  padding:20px;
  white-space: pre-line;
  border-color: rgb(194, 204, 204);
  border-width: 1px;
  /* border-left-style:solid;
  border-right-style:solid; */

}

.answer-box {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;

} 

.question-section {
  position:sticky;
  bottom:0;
  background-color: rgb(212, 211, 211);  
  padding:15px 0;  

}

textarea {
  width: 100%;
  height:150px;
  margin-top:2px;
  border-width:2px;
  margin-bottom:0px;

}

button {
  padding: 10px 15px;
  font-size: 17px;
  margin-top: 3px;  
}