html {
  height: 100%;
  background-color: rgba(63, 62, 62, 0.986);

}

body {
  box-sizing: border-box;
  height: 100%;

}

#root {
  height: 100%;
  background-color: rgb(225, 227, 230);
  
}

.App {
  height: 100%;
  max-width: 800px;
  margin: 20px auto;

}

.question {
  background-color: rgb(163, 171, 187);
  padding: 20px;
  white-space: pre-line;
  border-color: rgb(159, 185, 185);
  border-width: 2px;
  border-style: solid;

}

.answer {
  background-color: rgba(177, 191, 219, 0.603);
  padding: 20px;
  white-space: pre-line;
  border-color: rgb(194, 204, 204);
  border-width: 2px;
  border-left-style:solid;
  border-right-style: solid;

}

 /* .bold-text {
  font-weight: bold;

} */

.answer-box {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;

} 
/* 
.question-box {
  border: 1px solid rgb(0, 0, 255);
} */


.question-section {
  position:sticky;
  bottom:10px;

}

textarea {
  width: 100%;
  height:150px;
  margin-top: 3px;
  border-width: 1px;

}

button {
  padding: 10px 15px;
  font-size: 17px;
  margin-top: 3px;  
}